CLIENT_MODE="production"

SERVER_NAME="0.0.0.0"
UI_PORT="7860"

SESSION_MANAGER_API_KEY="9fc8d1ef-8953-4acf-b6e2-7834033a6c55"
SESSION_MANAGER_BASE_URL="http://localhost:8000"

# --- LOGS ---

### LOCAL ###
LOGS_PSQL_USERNAME="postgres"
LOGS_PSQL_PASSWORD="password"
LOGS_PSQL_HOST="localhost"
LOGS_PSQL_PORT="5432"
LOGS_PSQL_SSLMODE="prefer"
LOGS_PSQL_DB_NAME="logs"