# --- Production or Development Mode ---
#PERSUASIO_MODE="dev"
PERSUASIO_MODE="production"

# --- Service Keys ---
PERSUASIO_API_KEY="f706ba7c-8251-49bb-a18d-2f39821f1a9a"

# --- NEO4J Configuration ---

# ### LOCAL ###
NEO4J_URL="bolt://localhost:7687"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="your-neo4j-password"

# ### REMOTE ###
# NEO4J_URL="bolt://your-remote-host:7687"
# NEO4J_USERNAME="neo4j"
# NEO4J_PASSWORD="your-neo4j-password"

# --- PSQL Configuration ---

PSQL_USERNAME="postgres"
PSQL_PASSWORD="your-psql-password"
PSQL_HOST="localhost"
PSQL_PORT="5432"
PSQL_SSLMODE="prefer"
PSQL_DB_NAME="persuasio"

# --- LOGS ---

LOGS_PSQL_USERNAME="postgres"
LOGS_PSQL_PASSWORD="your-logs-psql-password"
LOGS_PSQL_HOST="localhost"
LOGS_PSQL_PORT="5432"
LOGS_PSQL_SSLMODE="prefer"
LOGS_PSQL_DB_NAME="logs"

# --- Model Configurations ---
AZURE_OPENAI_GPT4oMini_API_KEY="your-azure-openai-gpt4o-mini-api-key"
AZURE_OPENAI_GPT4oMini_ENDPOINT="https://your-gpt4o-mini-resource.cognitiveservices.azure.com/openai/v1/"

AZURE_OPENAI_GPT5_API_KEY="your-azure-openai-gpt5-api-key"
AZURE_OPENAI_GPT5_ENDPOINT="https://your-gpt5-resource.cognitiveservices.azure.com/openai/v1/"

AZURE_GROK_3_ENDPOINT="https://your-grok3-resource.services.ai.azure.com/openai/v1/"
AZURE_GROK_3_API_KEY="your-azure-grok3-api-key"

AZURE_MISTRAL_MEDIUM_ENDPOINT="https://your-mistral-resource.services.ai.azure.com/openai/v1/"
AZURE_MISTRAL_MEDIUM_API_KEY="your-azure-mistral-medium-api-key"

AZURE_OPENAI_GPT4O_API_KEY="your-azure-openai-gpt4o-api-key"
AZURE_OPENAI_GPT4O_ENDPOINT="https://your-gpt4o-resource.cognitiveservices.azure.com/openai/v1/"